<ul>
<!-- <% EventLog.includes(:eventable, :admin_user).order(created_at: :desc).all.each do |e| %>
  <li><%= t(e.action.to_sym, scope: [:activerecord, :models, :event_log, :eventable, e.eventable.class.name.downcase.to_sym, :actions], user: e.admin_user.display_name) %></li>
<% end %> -->
<%= image_tag "aa_dashboard.png", class: "dashboard__image" %>
</ul>
