#edit_author, #new_author, #show_author, #edit_admin_user, #new_admin_user, #show_admin_user {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-areas:
    "form image-preview"
    "actions .";
  grid-column-gap: 0;
  .author_image img, .user_avatar img {width: 100%;}
  .form_inputs { grid-area: form }
  .actions { grid-area: actions }
}
