#edit_book, #new_book, #show_book {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-areas:
    "form image-preview"
    "actions .";
  grid-column-gap: 0;
  .book_cover img {width: 100%;}
  .form_inputs { grid-area: form }
  .actions { grid-area: actions }
}
