.dropzone {
  @extend %large_cta;
  &.dropzone-active {
    border-color: $blue;
    background-color: lighten($blue, 80%);
  }
}
#image-gallery {
  .tile {
    div:nth-child(3) {
      opacity: 1 !important;

      div div:first-child {
        opacity: 0;
        transition: opacity 0.15s ease-in-out;
      }

      div.progress_uploading .progress_container {
        opacity: 1 !important;
        .progress_bar {
          opacity: 1 !important;
        }
      }
    }

    &:hover {
      div:nth-child(3) {
        div div:first-child {
          opacity: 1;
        }
      }
    }

    .alt_text_missing {
      &:after {
        position: absolute; padding: 6px; top: 0; right: 0;
        content: "\2205"; font-size: 32px; color: red; text-align: right; line-height: 18px;
        opacity: 0.5;
      }
    }

    .progress_uploading {
      position: absolute; width: 100%; height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0.5;

      .progress_container {
        position: relative; width: 100%; height: 100%; padding: 16px; box-sizing: border-box;
        .progress_bar {
          position: relative; top: 0; left: 0; bottom: 0; height: 10%;
          background: white;
          transition: width .5s;
        }
      }
    }

    .progress_error {
      content: 'Error - Try again';
      display: block; position: absolute; height: 100%; width: 100%;
      background-color: rgba(#ea111c, 0.5);

      &:after {
        position: relative; padding: 6px;
        content: "Error - Try again";
        text-transform: capitalize; text-align: center;
        color: white;
      }
    }
  }
}
