.logged_in {
  .panel { padding: 2em; }
  .attributes_list {
    list-style-type: none;
    padding: 0; margin: 0;
    li {
      display: flex;
      justify-content: flex-start;
      flex-flow: column;
      margin-bottom: 1.5em;
    }
    .attributes_list_attr_name {
      @extend %label;
    }
    .attributes_list_attr_value {
      @extend %admin_text_input_field;
    }
  }
  .comments {
    h3 { @extend .subtitle; }
    .active_admin_comment {
      margin-bottom: 1em;
      border-bottom: 1px solid $grey_lighter;
      p { margin: .75em 0; }
    }
    .active_admin_comment_meta {
      & > span, & > a {
        @extend .para_small_style;
      }
      & > span { display: inline-block; margin-right: 1em }
      a {
        color: $blue; text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .active_admin_comment_author {
        @extend .h4;
        margin: .25em 0;
      }
    }
    form { padding: 0; }
  }
}

