<div id="image-data-array" data-image_data_array="<%= @images.map { |image| JSON.parse(image.to_json(methods: [:build_for_gallery, :admin_edit_path, :admin_update_path])) }.to_json %>"></div>
<div id='image-gallery'></div>
<%= javascript_pack_tag 'image_gallery' %>
